
<div class="container mx-auto" *ngIf="products">
  <div class="bg-white border-4 border-black p-4 rounded-lg shadow-md flex items-center justify-between">
    <input type="text" placeholder="Введіть модель" class="bg-white rounded-lg p-2 flex-grow mr-4">
    <button  class="bg-yellow-400 hover:bg-gray-700 text-black font-bold py-2 px-4 rounded">Пошук</button>
  </div>
  <h2 class="text-3xl font-bold text-center mt-4 text-black">Лист товарів</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-8 px-4">
    <div *ngFor="let product of products" class="bg-white border-4 border-black rounded-3xl shadow-md p-6 transition transform hover:scale-105 flex flex-col">
      <img *ngIf="product.image" [src]="product.image" alt="{{ product.model }}" class="w-full h-48 object-cover rounded-t-lg">
      <div class="flex-grow mt-4 text-black">
        <h3 (click)="openProduct(product)" class="text-xl cursor-pointer font-semibold">{{ product.model }}</h3>
        <p class="text-black mt-2">{{ translate.currentLang === 'ua' ? product.descriptionUA : product.descriptionPL }}</p>
      </div>
      <div class="flex items-center text-black justify-between mt-4">
        <p class="text-lg font-bold">Ціна: {{ product.price }} ГРН.</p>
        <p class="text-sm font-medium">
          Наявність:
          <span [ngClass]="{'text-green-400': product.availability, 'text-red-400': !product.availability}">
            {{ product.availability ? 'В наявності' : 'Нет в наличии' }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>



<!--<div class="container mx-auto" *ngIf="products">-->
<!--  <h2 class="text-3xl font-bold text-center mt-4 text-white">Список товаров</h2>-->

<!--  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8 px-4">-->
<!--    <div *ngFor="let product of products; let i = index" class="bg-main-blue rounded-lg shadow-md p-6 transition transform hover:scale-105">-->
<!--      <img *ngIf="product.image" [src]="product.image" alt="{{ product.model }}" class="w-full h-48 object-cover rounded-t-lg">-->
<!--      <div class="mt-4 text-white">-->
<!--        <h3 (click)="openProduct(product)" class="text-xl cursor-pointer font-semibold">{{ product.model }}</h3>-->
<!--        <button class="border border-white py-2 px-4 rounded bg-yellow-400 hover:bg-gray-700 text-black font-bold mt-2" (click)="selectedProductIndex = selectedProductIndex === i ? null : i">Показать описание</button>-->
<!--        <p *ngIf="selectedProductIndex === i" class="text-gray-200 mt-2">{{ translate.currentLang === 'ua' ? product.descriptionUA : product.descriptionPL }}</p>-->
<!--        <div class="flex items-center justify-between mt-4">-->
<!--          <p class="text-lg font-bold">Цена: {{ product.price }} zl.</p>-->
<!--          <p class="text-sm font-medium">-->
<!--            Наличие:-->
<!--            <span [ngClass]="{'text-green-400': product.availability, 'text-red-400': !product.availability}">-->
<!--              {{ product.availability ? 'В наявності' : 'Нет в наличии' }}-->
<!--            </span>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="text-center mt-8">-->
<!--    <a routerLink="/" class="bg-yellow-400 hover:bg-gray-700 text-white font-bold py-3.5 px-6 rounded">-->
<!--      Вернуться на главную-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
